main{
    margin-left: 160px;
}

.sidenav {
    float:left;
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    list-style-type: none;
    background-color: white;
    overflow-x: hidden;
    padding-left: 0;
    -webkit-box-shadow: 10px 0 5px -2px #888;
    box-shadow: 5px 0 5px -2px rgba(192,192,192,0.3);
}

.sidenav li{
    border-bottom: 1px solid rgba(192,192,192,0.3);
}

.sidenav a {
    text-decoration: none;
    font-size: 17px;
    padding: 5px 0 5px 10px;
    color: darkgrey;
    display: block;
}

.sidenav a:hover {
    color: grey;
}

.center-div{
    margin: auto;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    font-weight: 600;
    color: grey;
}

label{
    font-weight: 600;
    font-size: 17px;
    color: grey;
}

#submit-article, #title, #body{
    display: block;
    width: 50%;
    text-align: center;
    margin: auto;
}

#body{
    height: 60px;
    font-size: 12px;
    resize: none;
    overflow: hidden;
}

.center-form{
    text-align: center;
}

#submit-article{
    margin-top: 10px;
    width: 80px;
}

.error{
    text-align: center;
    color: red;
    font-weight: 600;
    font-size: 15px;
}

input[type="submit"]{
    width: 70px;
    margin-top: 5px;
}

#read-article{
    width: 70px;
    color: white;
}

.list-articles{
    margin-top: 10px;
}

.center-article-info{
    margin-top: 10px;
    text-align: center;
}

.pagination{
    margin: auto;
    margin-top: 10px;
}

.title{
    font-size: 15px;
    font-weight: 600;
    color: grey;
}

.body{
    font-style: oblique;
}

.no-articles{
    text-align: center;
    color: red;
    font-weight: 600;
}